<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  
<nav>
    <div class="nav-wrapper">
      <a routerLink='' class="brand-logo center">TODO</a>
      <ul id="nav-mobile" class="right">
        <li><a (click)="gotosignup()">SIGN UP</a></li>
        <li><a (click)="gotologin()">LOGIN</a></li>
      </ul>
    </div>
</nav>
<h4  style=" margin-top: 4%; margin-left: 44%;" > LOGIN </h4>
<app-forms-login></app-forms-login>

</body>

<footer style="text-align: right;padding-top: 10%;">
  Created by Prashath SIAYANAMA
</footer>

</html>